pipeline/BusinessProfileHealthHistory.json
{
	"name": "BusinessProfileHealthHistory",
	"properties": {
		"description": "This PL is used to populate data for this history table - businessprofilehealthhistory",
		"activities": [
			{
				"name": "Get Customers",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[prc_get_promanagecustomers]",
						"queryTimeout": "00:10:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Dynamic_YP",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Populate History Data for Each Customer",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Customers",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Customers').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Populate Business Health History",
							"description": "This component is used to populate the data for businessprofilehealthhistory using  the proc - prc_populate_businessprofilehealthhistory",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:15:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[prc_populate_businessprofilehealthhistory]",
								"storedProcedureParameters": {
									"customerid": {
										"value": {
											"value": "@item().customerid",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LNKYPAzure",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "LS/ProManage"
		},
		"annotations": [],
		"lastPublishTime": "2022-01-18T13:20:54Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}