pipeline/LoadBVNMetrics.json
{
	"name": "LoadBVNMetrics",
	"properties": {
		"activities": [
			{
				"name": "var_insightdate",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "vInsightDate",
					"value": {
						"value": "@adddays(utcnow(),-1)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "LoadBVNMetrics",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "var_insightdate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "LoadBVNMetricsSpecificDate",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pInsightDate": {
							"value": "@variables('vInsightDate')",
							"type": "Expression"
						}
					}
				}
			}
		],
		"variables": {
			"vInsightDate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "LS/ProManage"
		},
		"annotations": [],
		"lastPublishTime": "2022-01-24T10:24:45Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}