pipeline/pl_testrestapi.json
{
	"name": "pl_testrestapi",
	"properties": {
		"activities": [
			{
				"name": "googlebusinesses",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select contentid,businessid,insightdate from googlebusinesses (nolock)\nwhere isprocessed = 0",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Dynamic_YP",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "MetricsFromGoogle",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "googlebusinesses",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('googlebusinesses').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "DF_TestRestAPI",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "1.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "TestRestAPI",
									"type": "DataFlowReference",
									"parameters": {
										"BusinessId": {
											"value": "@item().businessid",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"RedisBusinessInfo": {
											"BusinessId": {
												"value": "@item().businessid",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						},
						{
							"name": "UpdateBusiness",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "DF_TestRestAPI",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[prc_update_googlebusinesses]",
								"storedProcedureParameters": {
									"comments": {
										"value": "Data Collected",
										"type": "String"
									},
									"contentid": {
										"value": {
											"value": "@item().contentid",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"isprocessed": {
										"value": "1",
										"type": "Byte"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LNKYPAzure",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "YP/ProManage"
		},
		"annotations": [],
		"lastPublishTime": "2022-01-07T10:09:13Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}