pipeline/Process Relataed Needs.json
{
	"name": "Process Relataed Needs",
	"properties": {
		"activities": [
			{
				"name": "Get Relataed Needs",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:05:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[prc_get_relatedneeds]",
						"queryTimeout": "00:05:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Dynamic_UE_Webengage",
						"type": "DatasetReference",
						"parameters": {
							"ds_db_param": "webengage"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Get Users",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:05:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[dbo].[prc_get_uniqueuserleads]",
						"storedProcedureParameters": {
							"daysofinterval": {
								"type": "Int32",
								"value": {
									"value": "3",
									"type": "Expression"
								}
							},
							"needid": {
								"type": "Int32",
								"value": {
									"value": "62300",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_YPUserAnalysis",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "var_relatedneeds",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Relataed Needs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "vRelatedNeeds",
					"value": {
						"value": "@activity('Get Relataed Needs').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"vRelatedNeeds": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "UE"
		},
		"annotations": []
	}
}